body {
  background-color: black;
  margin: 0;
}

.section {
  height: 100%;
  width: 100%;
}

.landing {
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, .66) 50%, rgba(0, 0, 0, .33)), url('./images/IMG_2070.jpg'), no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}

.nav {
  margin: auto;
  padding: 2%;
  display: inline-block;
}


h1, h2 {
  display: inline;
  font-family: 'Sorts Mill Goudy', serif;
  color: white;
}

.banner {
  font-size: 1.5%vw;
  padding: 4%;
  text-align: center;
}

.pitch {
  padding: 5% 0 0 10%; 
  color: white;
  font-size: 4.2vmin;
  font-family: 'Arvo', serif;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

.yellowish {
  color: #D6CE93;
}

.purple {
  color: #957186;
}

.orange {
  color: #FF7E6B;
}

.blueish {
  color: #83BCA9;
}

.blue {
  color: #72A1E5;
}