/*  Portfolio Styles  */

body {
  background-color: black;
  margin: 0;
}

::-webkit-scrollbar {
    width: 0px;
}

.section {
  height: 100%;
  width: 100%;
}

/*  Fonts & Colors  */

h1, h2 {
  display: inline;
  font-family: 'Sorts Mill Goudy', serif;
  color: white;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.yellowish {
  color: #D6CE93;
}

.purple {
  color: #957186;
}

.orange {
  color: #FF7E6B;
}

.blueish {
  color: #83BCA9;
}

.blue {
  color: #72A1E5;
}

/*  Hexes, etc.  */

.hexes {
  width: 500px;
  margin: 15% auto 10% auto;
  font-size: 3vmax;
}

.hex {
  display: inline-block;
  margin: auto;
  height: 12vmax
}

/*  SECTION I: Landing  */

.landing {
  background: linear-gradient(to right, rgba(0, 0, 0, .9), rgba(0, 0, 0, .5
) 50%, rgba(0, 0, 0, .2)), url('./images/persimmon.jpg'), no-repeat top left scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-size: 4.5vw;
}

.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 6%;
  font-size: 2.5vw;
  margin: auto;
  display: inline-block;
}

.nav > a {
  padding: 4%;
  display: inline-block;
}

/*  SECTION II: The Pitch  */


.billboard {
  height: auto;
  text-align: center; 
}

.pitch {
  padding: 10%;
  color: white;
  font-size: 5vw;
  font-family: 'Courier', serif;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
  text-align: left;
}

/*  SECTION III: Portfolio  */

.portfolio {
  height: auto;
  text-align: center;
}

.portfolio.hexes {
   max-width: 400px;
}

.gallery {  
  display: flex;
  flex-wrap: wrap;
}

.pair {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: 900px;
}

.pair p {
  color: white;
  font-family: 'Courier', serif;
  font-size: xx-large;
}



/*  SECTION IV: Pedagogy  */

.notes {
  height: auto;
  text-align: center; 
}

.notes p {
  margin: 3% 15%;
  color: white;
  font-size: 4vw;
  font-family: 'Courier', serif;
  text-align: left;
}

.icon {
  max-height: 75px;
}


/* SECTION V: Contact  */

.logo {
  text-align: center;
  margin: auto;
  height: 19vmax;
}

.contact {
  height: auto;
  background-color: black;
  color: white;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 3vmax;
  display: block;
  vertical-align: middle;
  margin: 0 auto 15% auto;
  text-align: center; 
}

.contact.info {
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.contact h3 {
  display: inline;
  color: white;
}
